#wrap {
  width: 100%;
  max-width: 1000px;
  margin: 20px auto;

  @include mq("tablet") {
    width: 90%;
  }

  @include mq("mobile") {
    width: 90%;
    min-width: 320px;
    overflow: auto;
  }

  > section {
    margin-bottom: 50px;
    height: 100%;
    display: block;

    h2 {
      font-size: 30px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .ui-list-box {
      height: auto;
      width: 100%;
      height: auto;

      .point-box {
        width: 20%;
        float: left;
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #dadada;
        margin-right: 9px;
        background: #f5f5f5;

        @include mq("tablet") {
          width: 31.9%;
          vertical-align: bottom;

          &:nth-child(3) {
            margin-right: 0;
          }
        }

        @include mq("mobile") {
          width: 100%;
          margin-bottom: 15px;
        }

        &.four-point {
          height: fit-content;
          width: 37%;
          margin-right: 0;

          @include mq("tablet") {
            margin-top: 15px;
            width: 68%;
          }

          @include mq("mobile") {
            width: 100%;
          }

          .rower-box {
            width: 100%;
            height: 100%;
            margin: auto;
            padding: 0px;
            position: relative;

            .box {
              height: 100%;
              overflow: hidden;
              float: left;

              &.img-box {
                width: 40%;
                position: relative;
              }

              &.info-box {
                width: 59%;
              }

              .star-point {
                border: none;
                position: absolute;
                bottom: 5px;

                div.star-raiting {
                  display: inline-block;
                  width: auto;
                  line-height: 15px;
                  vertical-align: middle;
                }

                small {
                  color: #8d8d8d;
                  margin-top: 0;
                  margin-left: 5px;
                  line-height: 15px;
                  display: inline-block;
                  vertical-align: middle;
                  font-size: 10px;
                }
              }
            }

            img {
              height: 100%;
              display: block;
            }
          }
        }

        .label-text {
          padding: 7px 8px;
          border-bottom: none;

          h3 {
            font-size: 13px;
            color: #333;
            font-weight: bold;

            em {
              font-size: 13px;
              display: block;
              font-weight: normal;
              color: #868686;
              margin-bottom: 5px;
            }
          }
        }

        .content {
          padding: 7px 8px;
          border-bottom: none;

          p {
            font-size: 13px;
            color: #333;
            font-weight: bold;
          }
        }

        .hi-lighit {
          padding: 7px 8px;

          p {
            color: #f11e41;

            em {
              text-decoration: line-through;
              color: #999999;
            }
          }
        }

        .star-point {
          padding: 7px 8px;
          border-top: 1px solid #dadada;

          div.star-raiting {
            width: 100%;
            height: 15px;

            button {
              width: 15px;
              display: inline-block;
              cursor: pointer;
              height: 100%;
              background: #9b9b9b;
              border-radius: 100%;
              margin-right: 2px;
              border: none;
              &:focus {
                outline: 1px solid #89deff;
              }

              &.active {
                background: #ffa500;
              }
            }
          }

          small {
            display: block;
            margin-top: 5px;
            font-size: 10px;
            color: #8d8d8d;
          }
        }

        .img-box {
          width: 100%;
          height: auto;
          overflow: hidden;

          img {
            width: 100%;
          }
        }
      }
    }

    .caption-box {
      width: 100%;
      label {
        text-indent: -9999px;
        display: block;
        height: 0;
        width: 0;
        overflow: hidden;
      }
      .default-box {
        width: 100%;
        margin-bottom: 10px;
        position: relative;

        span.placeHolder {
          position: absolute;
          top: 10px;
          left: 20px;
          z-index: 2;
          font-size: 12px;
          display: block;

          &.active {
            display: none;
          }
        }

        .box-section {
          width: 100%;
          height: 100%;
          float: left;
          position: relative;

          &.active {
            width: 90%;
          }
          textarea {
            outline: #1ca7df;

            &:focus {
              border: 1px solid #1ca7df;
            }
          }
          em {
            position: absolute;
            bottom: 10px;
            right: 20px;
            font-size: 12px;
            color: #808080;
          }
        }

        button {
          width: 9.5%;
          overflow: hidden;
          height: 100px;
          padding: 0;
          margin: 0;
          outline: none;
          background: #fff;
          float: right;
          display: none;
          border: 1px solid #333;

          &.active {
            display: block;
            color: #1ca7df;
          }

          &:focus {
            border: 1px solid #1ca7df;
          }
        }
      }

      .disabel-box,
      .readonly-box {
        width: 100%;
        position: relative;
        margin-bottom: 10px;

        span.placeHolder {
          position: absolute;
          top: 10px;
          left: 20px;
          font-size: 12px;
          display: block;
          color: rgba(165, 47, 77, 0.557);
          font-weight: bold;

          &.active {
            display: none;
          }
        }

        textarea {
          &::placeholder {
            color: #ac2245;
            font-weight: bold;
          }

          &:-ms-input-placeholder {
            color: #ac2245;
            font-weight: bold;
          }

          &::-ms-input-placeholder {
            color: #ac2245;
            font-weight: bold;
          }
        }

        em {
          position: absolute;
          bottom: 10px;
          right: 20px;
          font-size: 12px;
          color: #808080;
        }
      }

      .readonly-box {
        span.placeHolder {
          color: #2269ac;

          &.active {
            display: none;
          }
        }

        textarea {
          background: #fff;

          &::placeholder {
            color: #2269ac;
            font-weight: bold;
          }

          &:-ms-input-placeholder {
            color: #2269ac;
            font-weight: bold;
          }

          &::-ms-input-placeholder {
            color: #2269ac;
            font-weight: bold;
          }
        }
      }

      .disabel-box {
        textarea {
          background: rgba(158, 158, 158, 0.282);
          border: 1px solid rgba(34, 34, 34, 0.2);

          &::placeholder {
            color: rgba(165, 47, 77, 0.557);
            font-weight: bold;
          }

          &:-ms-input-placeholder {
            color: rgba(165, 47, 77, 0.557);
            font-weight: bold;
          }

          &::-ms-input-placeholder {
            color: rgba(165, 47, 77, 0.557);
            font-weight: bold;
          }

          &::selection {
            background: none;
          }

          &::-moz-selection {
            background: none;
          }
        }

        em {
          opacity: 0.6;
        }
      }

      textarea {
        width: 100%;
        padding: 10px 20px;
        height: 100px;
        resize: none;
        font-size: 13px;
        border: 1px solid #333;
        overflow: auto;

        &#textUiDis,
        &#textUiRead {
          outline: none;
        }
      }
    }
  }
}
