#wrap {
  width: 1000px;
  margin: 20px auto;


  @include mq("tablet") {
    width: 90%;
  }

  @include mq("mobile") {
    width: 90%;
  }

  >section {
    margin-bottom: 50px;
    height: 100%;
    display: block;

    h2 {
      font-size: 30px;
      margin-bottom: 15px;
      font-weight: bold;
    }

    .ui-list-box {
      width: 100%;
      height: auto;
      display: flex;

      @include mq("mobile") {
        flex-basis: 50%;
        flex-wrap: wrap;
      }

      .point-box {
        height: fit-content;
        flex-basis: 21%;
        overflow: hidden;
        border-radius: 5px;
        border: 1px solid #dadada;
        margin-right: 15px;
        background: #f5f5f5;
        flex-direction: column;

        @include mq("mobile") {
          margin-bottom: 15px;
          flex-basis: 30%;
        }

        &.four-point {
          width: 100%;
          height: 100%;
          margin-right: 0;
          flex-basis: 60%;

          @include mq("mobile") {
            flex-basis: 70%;
          }

          .rower-box {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap;
            align-items: stretch;
            margin: auto;
            padding: 0px;

            .box {
              flex-basis: 30%;
              height: 100%;
              overflow: hidden;
              display: flex;

              &.info-box {
                width: 100%;
                flex-basis: 70%;
                flex-direction: column;
              }

              .star-point {
                border: none;
                display: flex;
                align-items: center;

                ul {
                  width: fit-content;
                  flex-basis: 32%;
                }

                small {
                  flex-basis: 25%;
                  vertical-align: middle;
                }
              }
            }

            img {
              height: 100%;
            }
          }
        }

        .label-text {
          padding: 7px 8px;
          border-bottom: none;

          h3 {
            font-size: 13px;
            color: #222;
            font-weight: bold;

            em {
              font-size: 13px;
              display: block;
              font-weight: normal;
              color: #868686;
              margin-bottom: 5px;
            }
          }
        }

        .content {
          padding: 7px 8px;
          border-bottom: none;

          p {
            font-size: 13px;
            color: #333;
            font-weight: bold;
          }
        }

        .hi-lighit {
          padding: 7px 8px;

          p {
            color: #f11e41;

            em {
              text-decoration: line-through;
              color: #999999;
            }
          }
        }

        .star-point {
          padding: 7px 8px;
          border-top: 1px solid #dadada;

          ul {
            width: 100%;
            display: flex;
            height: 15px;

            li {
              flex: 0 0 15px;
              height: 100%;
              background: #9b9b9b;
              border-radius: 100%;
              margin-right: 5px;

              &.active {
                background: #ffa500;
              }
            }
          }

          small {
            display: block;
            margin-top: 5px;
            font-size: 10px;
            color: #8d8d8d;
          }
        }

        .img-box {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 100%;
          }
        }
      }
    }

    .caption-box {
      width: 100%;

      .default-box {
        width: 100%;
        display: flex;
        margin-bottom: 10px;

        .box-section {
          flex-basis: 100%;
          position: relative;

          &.active {
            flex-basis: 90%;
          }

          textarea {
            outline: #1ca7df;

            &::placeholder {
              color: #ac2245;
              font-weight: bold;
            }

            &.active {
              border: 1px solid #1ca7df;
            }

            &:focus {
              border: 1px solid #1ca7df;
            }
          }

          em {
            position: absolute;
            bottom: 10px;
            right: 20px;
            font-size: 12px;
            color: #808080;
          }
        }

        button {
          flex-basis: 0%;
          overflow: hidden;
          height: 100px;
          display: none;
          padding: 0;
          margin: 0;
          outline: none;

          &.active {
            flex-basis: 10%;
            display: block;
            color: #1ca7df;
          }

          &:focus {
            border: 1px solid #1ca7df;
          }
        }
      }

      .readonly-box {
        width: 100%;
        position: relative;

        em {
          position: absolute;
          bottom: 10px;
          right: 20px;
          font-size: 12px;
          color: #808080;
        }
      }

      textarea {
        width: 100%;
        padding: 5px 20px;
        height: 100px;
        resize: none;
        font-size: 13px;
        border: 1px solid #222;

        &:read-only {
          background: #eee;
          outline: none;
        }
      }
    }
  }

}